[submodule "sc2reader"]
	path = sc2reader
	url = https://github.com/GraylinKim/sc2reader.git
[submodule "pysc2"]
	path = pysc2
	url = https://github.com/deepmind/pysc2.git
[submodule "s2protocol"]
	path = s2protocol
	url = https://github.com/Blizzard/s2protocol.git
